body {
    background-color: rgb(108, 17, 15);
}

section {
    height: 100vh;
    width: 100%;
    padding: 30px 48px 24px;
}

nav {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.nav-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.try-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    background-color: var(--fading-ruby);
    border-radius: 20px;
    width: 140px;
    height: 40px;
}

.try-btn p {
    font-size: 9px;
    margin-left: 6px;
    font-family: "Druk Wide Bold", sans-serif;
    color: var(--secondary-color);
}

.btn {
    border-radius: 50%;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hambaagaa {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky {
    position: fixed;
    right: 48px;
}

.text-bold {
    font-family: "Neue Plak Extended";
    font-size: 12px;
    font-weight: 780;
}

.title-r {
    font-family: "Druk Wide Bold";
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 153px;
    padding: 35px 0px;
}

.title-r div {
    height: 2.5px;
    border-radius: 1.75px;
    width: 100%;
    background-color: black;
}

.texts {
    display: flex;
    justify-content: flex-start;
}

.texts p {
    width: 200px;
    font-family: "Neue Plak Extended";
    line-height: 18px;
}

.texts p:nth-child(1) {
    margin-right: 150px;
}

.mouse__container {
    display: flex;
    justify-content: center;
}

.mouse {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fashion-index {
    position: absolute;
    display: flex;
    right: 20%;
    bottom: 10%;
}

.fashion-index p {
    font-family: "Druk Wide Bold";
    font-size: 12px;
}

.nav__red {
    font-family: "Druk Wide Bold";
    margin-top: 2%;
    font-size: 20px;
    color: var(--secondary-color);
}

.hero_main {
    background-color: var(--primary-color);
}

.first__text {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 58%;
    color: var(--secondary-color);
}

.second__text {
    margin-top: 25%;
    margin-left: 8%;
    color: var(--secondary-color);
}

.mouse {
    color: var(--secondary-color);
}

.first {
    font-family: "Neue Plak Extended";
    font-size: 12px;
}

.second {
    font-family: "Druk Wide Bold";
    font-size: 30px;
}

.third {
    font-family: "Neue Plak Extended";
}

.cat-text__first {
    margin: 50px 30px 0px;
}

.new__text {
    padding: 20px;
}

.cat-text__first p {
    font-family: "Druk Wide Bold";
    font-size: 24px;
    color: #fff;
}

.product__section {
    margin: 0px 70px;
    border-radius: 20px;
    background-color: rgb(49, 49, 49);
    box-shadow: rgb(49, 49, 49) 0px 0px 31px 29px;
}

section:nth-child(1) {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section:nth-child(2) {
    height: 150vh;
    background-color: var(--primary-color);
}

.market__items {
    display: flex;
    flex-wrap: wrap;
}

.market__items .items {
    flex: 0 0 24%;
    max-width: 24%;
}

.market__items .items .items__image {
    border-radius: 20px;
}

.list__items {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.list__items__2 {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.items {
    display: flex;
    flex-direction: column;
    margin: 0px 0.5%;
    flex: 1 1 0%;
    width: 24%;
}

.items p {
    font-size: 12px;
    margin: 10px;
}

.items__image {
    border-radius: 20px;
}

.text__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 44px 39px;
}

.nav__container {
    height: 100%;
    width: 100%;
    background-color: rgb(120, 17, 14);
    border-radius: 24px;
}

.circle {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__container p {
    color: rgb(255, 255, 255);
}

.nav_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
}

.hambagur {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_text {
    font-family: "Druk Wide Bold", sans-serif;
    font-size: 20px;
}

.nav_text2 {
    font-family: "Druk Wide Bold", sans-serif;
    font-size: 35px;
}

.menu {
    font-family: "Druk Wide Bold", sans-serif;
    font-size: 10px;
    margin: 10px;
}

.nav_second {
    display: flex;
    flex-direction: row;
    padding: 50px 70px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #6c110f;
}

::-webkit-scrollbar-track {
    background: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85);
}

::-webkit-scrollbar-thumb:horizontal {
    background: #6c110f;
    border-radius: 10px;
}