@font-face {
  font-family: "Integral cf Bold";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-bold.otf");
}
@font-face {
  font-family: "Integral cf";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-regular.otf");
}
@font-face {
  font-family: "Integral cf Regular";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-regularbold.otf");
}
@font-face {
  font-family: "Integral cf Demi Bold";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-demibold.otf");
}
@font-face {
  font-family: "Integral cf Extra Bold";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-extrabold.otf");
}
@font-face {
  font-family: "Integral cf Heavy Bold";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-heavybold.otf");
}
@font-face {
  font-family: "Integral cf Medium Bold";
  src: url("/assets/fonts/integral=cf/Fontspring-DEMO-integralcf-mediumbold.otf");
}
@font-face {
  font-family: "Neue Plak Extended";
  src: url("NeuePlak-ExtendedBold.eot");
  src: local("Neue Plak Extended Bold"), local("NeuePlak-ExtendedBold"), url("NeuePlak-ExtendedBold.eot?#iefix") format("embedded-opentype"), url("NeuePlak-ExtendedBold.woff2") format("woff2"),
    url("NeuePlak-ExtendedBold.woff") format("woff"), url("NeuePlak-ExtendedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended Ultra";
  src: url("NeuePlak-ExtendedUltraLight.eot");
  src: local("Neue Plak Extended Ultra Light"), local("NeuePlak-ExtendedUltraLight"), url("NeuePlak-ExtendedUltraLight.eot?#iefix") format("embedded-opentype"),
    url("NeuePlak-ExtendedUltraLight.woff2") format("woff2"), url("NeuePlak-ExtendedUltraLight.woff") format("woff"), url("NeuePlak-ExtendedUltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("NeuePlak-ExtendedBlack.eot");
  src: local("Neue Plak Extended Black"), local("NeuePlak-ExtendedBlack"), url("NeuePlak-ExtendedBlack.eot?#iefix") format("embedded-opentype"), url("NeuePlak-ExtendedBlack.woff2") format("woff2"),
    url("NeuePlak-ExtendedBlack.woff") format("woff"), url("NeuePlak-ExtendedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("NeuePlak-ExtendedLight.eot");
  src: local("Neue Plak Extended Light"), local("NeuePlak-ExtendedLight"), url("NeuePlak-ExtendedLight.eot?#iefix") format("embedded-opentype"), url("NeuePlak-ExtendedLight.woff2") format("woff2"),
    url("NeuePlak-ExtendedLight.woff") format("woff"), url("NeuePlak-ExtendedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("NeuePlak-ExtendedThin.eot");
  src: local("Neue Plak Extended Thin"), local("NeuePlak-ExtendedThin"), url("NeuePlak-ExtendedThin.eot?#iefix") format("embedded-opentype"), url("NeuePlak-ExtendedThin.woff2") format("woff2"),
    url("NeuePlak-ExtendedThin.woff") format("woff"), url("NeuePlak-ExtendedThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended Semi";
  src: url("NeuePlak-ExtendedSemiBold.eot");
  src: local("Neue Plak Extended Semi Bold"), local("NeuePlak-ExtendedSemiBold"), url("NeuePlak-ExtendedSemiBold.eot?#iefix") format("embedded-opentype"),
    url("NeuePlak-ExtendedSemiBold.woff2") format("woff2"), url("NeuePlak-ExtendedSemiBold.woff") format("woff"), url("NeuePlak-ExtendedSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("NeuePlak-ExtendedRegular.eot");
  src: local("Neue Plak Extended"), local("NeuePlak-ExtendedRegular"), url("NeuePlak-ExtendedRegular.eot?#iefix") format("embedded-opentype"), url("NeuePlak-ExtendedRegular.woff2") format("woff2"),
    url("NeuePlak-ExtendedRegular.woff") format("woff"), url("NeuePlak-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended Extra";
  src: url("NeuePlak-ExtendedExtraBlack.eot");
  src: local("Neue Plak Extended Extra Black"), local("NeuePlak-ExtendedExtraBlack"), url("NeuePlak-ExtendedExtraBlack.eot?#iefix") format("embedded-opentype"),
    url("NeuePlak-ExtendedExtraBlack.woff2") format("woff2"), url("NeuePlak-ExtendedExtraBlack.woff") format("woff"), url("NeuePlak-ExtendedExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
